@page "/"
@using RazorClassLib

<h1>Hello, world!</h1>

Welcome to your new app.

<Component1 Style="@MyEnum.Value1" Items="@(new string[] {"A", "b"})"></Component1>

<Component2>
    Child Content
</Component2>